<!DOCTYPE html>

<html lang="eng"; lang="vi">

    <head>
        <title>FPTalumni</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Angkor' rel='stylesheet'>
        <link rel="icon" type="image/x-icon" href="../static/5.jpg">
        <link rel="stylesheet" href="../static/style.css">
        <script src="https://kit.fontawesome.com/05ec024090.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    </head>

    <body class="background">
        <div class="container">
            <section class="carousel">
                <div class="row">
                    <div class="list">
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                    </div>
                </div>
                <div class="row">
                    <div class="list">
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                    </div>
                </div>
                <div class="row">
                    <div class="list">
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                    </div>
                </div>
                <div class="row">
                    <div class="list">
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                    </div>
                </div>
                <div class="row">
                    <div class="list">
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                    </div>
                </div>
                <div class="row">
                    <div class="list">
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                    </div>
                </div>
                <div class="row">
                    <div class="list">
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                    </div>
                </div>
                <div class="row">
                    <div class="list">
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                    </div>
                </div>
                <div class="row">
                    <div class="list">
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                    </div>
                </div>
                <div class="row">
                    <div class="list">
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                    </div>
                </div>
                <div class="row">
                    <div class="list">
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                    </div>
                </div>
                <div class="row">
                    <div class="list">
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                    </div>
                </div>
                <div class="row">
                    <div class="list">
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                        <i class="f">P</i>
                    </div>
                </div>
            </section>
            <div class="frog">
                <div class="container2">
                    <div class="frog-body content-center">
                        <div class="nose-container">
                            <div class="purple-circle rad-50"></div>
                            <div class="purple-circle rad-50"></div>
                        </div>
                          
                        <div class="eye left content-center rad-50">
                            <div class="eyeball content-center rad-50">
                                <div class="purple-circle rad-50"></div>
                            </div>
                        </div>
                        
                        <div class="eye right content-center rad-50">
                            <div class="eyeball content-center rad-50">
                                <div class="purple-circle rad-50"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fill-box">
                <input class="username" type="text" placeholder="Username">
                <input class="passwd" type="text" placeholder="Password">
            </div>
        </div>

        <!-- <a class="box3 sb13" href="https://forms.gle/jHD2uRL5s7zYFD789">Feedback</a> -->
        

    </body>
    
</html>